{% extends 'dashboard/main.html' %}

{% load static %}

{% block content %}

<!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">
      <!-- ========== title-wrapper start ========== -->
      <div class="title-wrapper pt-30">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="title">
              <h2>Employees</h2>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#0">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Employees
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- ========== title-wrapper end ========== -->
      <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <div class="table-wrapper table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <h6>#</h6>
                                    </th>
                                    <th>
                                        <h6>Name</h6>
                                    </th>
                                    <th>
                                        <h6>Email</h6>
                                    </th>
                                    <th>
                                        <h6>Project</h6>
                                    </th>
                                    <th>
                                        <h6>Status</h6>
                                    </th>
                                    <th>
                                        <h6>Action</h6>
                                    </th>
                                </tr>
                                <!-- end table row-->
                            </thead>
                            <tbody>







                                
                                <tr>
                                    <td>
                                        <div class="employee-image">
                                            <img src="assets/images/lead/lead-1.png" alt="" />
                                        </div>
                                    </td>
                                    <td class="min-width">
                                        <p>Esther Howard</p>
                                    </td>
                                    <td class="min-width">
                                        <p><a href="#0">yourmail@gmail.com</a></p>
                                    </td>
                                    <td class="min-width">
                                        <p>Admin Dashboard Design</p>
                                    </td>
                                    <td class="min-width">
                                        <span class="status-btn active-btn">Active</span>
                                    </td>
                                    <td>
                                        <div class="action">
                                            <button class="text-danger">
                                                <i class="lni lni-trash-can"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <!-- end table row -->
                                
                                








                                <!-- end table row -->
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- end container-fluid -->
</section>
{% endblock %}